{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h3 class="text-center my-5">Mon profil !</h3>

    <div class="container">
        {{ form_start(form) }}
            <div class="row">
                <div class="col-12 col-sm-2">
                    <div class="col-12 text-center">
                        {% if form.vars.data.avatar %}
                            <a href="{{ uploaded_asset(form.vars.data.avatar) }}" target="_blank">
                                <img src="{{ uploaded_asset(form.vars.data.avatar) }}" class="rounded-circle" style="width: 150px;">
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-12 mt-3">
                        {{ form_row(form.imageFile2) }}
                    </div>
                </div>
                <div class="col-12 col-sm-8 offset-md-1">
                    <div class="row my-3">
                        <div class="col-12 col-sm-6">
                            {{ form_row(form.lastname) }}
                        </div>
                        <div class="col-12 col-sm-6">
                            {{ form_row(form.firstname) }}
                        </div>

                    </div>

                    <div class="row my-3">
                        <div class="col-12 col-sm-6">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="col-12 col-sm-6">
                            {{ form_row(form.phone) }}
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-12">
                            {{ form_row(form.plainPassword, {
                                label: 'Mot de passe'
                            }) }}
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-12 col-lg-3 offset-lg-4">
                            <button type="submit" class="btn btn-primary">Mettre à jour</button>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

