{% extends 'base.html.twig' %}

{% block title %}Mission{% endblock %}
{% block description %}
    {{ mission.content|truncate(200)|raw }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('./assets/css/owl.carousel.min.css') }}" rel="stylesheet">

{#    #}
{#    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>#}
{#    // Add the new slick-theme.css if you want the default styling#}
{#    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>#}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

{#    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>#}
{#    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>#}

    <script src="{{ asset('./assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('./assets/js/custom_review.js') }}"></script>
{% endblock %}


{% block body %}
    <header class="site-header d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <h1 class="text-white">{{ mission.title }}</h1>
                </div>

            </div>
        </div>
    </header>

    {% include 'mission/_header.html.twig' %}

    <section class="shop-detail-section section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 m-auto">

                    <div class="col-12 custom-block shop-detail-custom-block">
                        <h3 class="mb-3">{{ mission.title }}</h3>

                        {{ mission.content|raw }}
                    </div>

{#                    <div class="col-12">#}
{#                        {% if show_info %}#}
{#                            {% include 'mission/_show_info_contact.html.twig' %}#}
{#                        {% else %}#}
{#                            <div>#}
{#                                {% include 'mission/_form_contact.html.twig' %}#}
{#                            </div>#}
{#                        {% endif %}#}
{#                    </div>#}
                    <div class="col-12">
                        {% include 'mission/_show_info_contact_messagerie.html.twig' %}
                    </div>

                </div>

                <div class="col-lg-6 col-12">
                    <div class="shop-image-wrap">
                        <img src="{{ mission.imagePath|imagine_filter('thumbnail_big') }}" class="shop-image img-fluid" alt="Image {{ mission.title }}">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="my-4">
        <div class="text-center">

            {% if not app.user %}
                Vous souhaitez évaluer cette mission ? Pas de problème, il vous suffit de <a href="{{ path('app_login') }}">vous connecter</a> ou de
                <a href="{{ path('app_register') }}">créer un compte</a> si vous n'en possédez pas encore.
            {% elseif not mission.checkIfCurrentUserHasPublishedReviewForThisMission(app.user) %}
                {% if mission.reviews.count %}
                    <a href="{{ path('review_new', {slug: mission.slug}) }}" class="btn btn-primary" title="Cliquez ici pour poster un avis">Évaluer cette mission</a>
                {% else %}
                    <a href="{{ path('review_new', {slug: mission.slug}) }}" class="btn btn-primary" title="Cliquez ici pour poster un avis">Soyez le premier à donner votre avis sur cette mission</a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if mission.reviews.count %}
        {% include 'mission/_reviewed.html.twig' %}
    {% endif %}

{% endblock %}
