{% extends 'admin.html.twig' %}

{% block title %}Mission{% endblock %}

{% block body %}
    <h1>Mission</h1>

    <div class="my-3">
        <a href="{{ path('admin_mission_index') }}" class="btn btn-dark">Retour</a>
        &nbsp;
        <a href="{{ path('admin_mission_edit', {'id': mission.id}) }}" class="btn btn-primary">Modifier</a>
    </div>

    <table class="table table-borderless">
        <tbody>

            <tr>
                <td>
                    {% if mission.imageFile %}
                        <div class="text-center">
                            <a href="{{ uploaded_asset(mission.imageFile) }}" target="_blank">
                                <img src="{{ mission.imagePath|imagine_filter('thumbnail_medium') }}" class="shop-image img-fluid" alt="Image {{ mission.title }}">
                            </a>
                        </div>
                    {% endif %}

                </td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ mission.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ mission.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ mission.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ mission.createdAt ? mission.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ mission.updatedAt ? mission.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ mission.price }} €</td>
            </tr>
            <tr>
                <th>Archived</th>
                <td>{{ mission.archived ? 'Oui' : 'Non' }}</td>
            </tr>


            <tr>
                <th>Publié</th>
                <td>{{ mission.published ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>



    {{ include('admin/mission/_delete_form.html.twig') }}
{% endblock %}
